.markets-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espace entre chaque div */
}

.market-table {
  width: 100%;
  border-collapse: collapse;
}

.market-table th,
.market-table td {
  padding: 10px;
  border: 1px solid #c3e6cb;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, border 0.3s ease;
}

.market-table th {
  background-color: #e2f0cb;
  font-weight: bold;
}

.market-table td {
  background-color: #f1f1f1;
}

.market-table td:hover {
  background-color: #e6e6e6;
  transform: scale(1.05);
}

.red:hover {
  border: 2px solid #000 !important;
}

.green:hover {
  border: 2px solid #000 !important;
}

.yellow:hover {
  border: 2px solid #000 !important;
}

.red {
  background-color: #f8d7da !important;
  border: 1px solid #f15e5e !important;
  color: #721c24 !important;
}

.green {
  background-color: #d4edda !important;
  border: 1px solid #3d9970 !important;
  color: #155724 !important;
}

.yellow {
  background-color: #fff3cd !important;
  border: 1px solid #ffc107 !important;
  color: #856404 !important;
}

.interval-buttons {
  display: flex;
  gap: 10px; /* Espace entre les boutons */
  justify-content: center; /* Centrer les boutons */
  margin-top: 10px;
  margin-bottom: 10px;
}

.interval-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4CAF50; /* Couleur de fond verte */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.interval-buttons button:hover {
  background-color: #45a049; /* Couleur au survol */
  transform: scale(1.05); /* Agrandir légèrement au survol */
}

.interval-buttons button:active {
  background-color: #388e3c; /* Couleur lorsqu'on clique */
  transform: scale(0.95); /* Réduire légèrement à l'appui */
}

.interval-buttons button.selected {
  background-color: #2e7d32; /* Couleur pour le bouton sélectionné */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre pour le bouton sélectionné */
}